@{
    ViewData["Title"] = "Expense Tracker - Home";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to budgET</h1>
    <p class="lead">Your simple and efficient expense tracking solution.</p>

    <div class="mt-4">
        <p>Stay on top of your spending and manage your finances with ease. Start tracking your expenses today.</p>

        <a asp-action="Register" asp-controller="Home" class="btn btn-primary btn-lg mr-2">Register here</a>
        <a asp-action="Login" asp-controller="Home" class="btn btn-secondary btn-lg">Login</a>
    </div>


    <div class="mt-5">
        <h2>Features</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <h4>Track Expenses</h4>
                <p>Record and categorize your expenses to monitor your spending habits.</p>
            </div>
            <div class="col-md-4">
                <h4>Generate Reports</h4>
                <p>Get detailed reports on your spending patterns, monthly budgets, and more.</p>
            </div>
            <div class="col-md-4">
                <h4>Set Financial Goals</h4>
                <p>Plan ahead by setting savings goals and budget limits.</p>
            </div>
        </div>
    </div>
</div>
